{% extends 'base.html' %}

{% block title %}
<title>Онлайн магазин</title>
{% endblock %}

{% block body %}
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h2 class="display-4 fw-normal">Онлайн магазин</h2>
        <p class="fs-5 text-muted">Быстрая покупка товаров</p>
    </div>
</header>
<div class="container">
    {% for el in data %}
    <a href="/index/{{ el.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">{{ el.title }}</h6>
                <small class="opacity-50 text-nowrap">{{ el.price }} BYN</small>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить товар</button>
            </div>
            <small class="opacity-50 text-nowrap">{{ el.isActive }}</small>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}






